<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken main</title>
</head>

<body>
  <script th:inline="javascript" th:if="${judge}">
    window.onload = function () {
      var judge = [[${ judge }]]
      var result_log = "";
      result_log = result_log + "あなたの手 " + judge.userHand + "<br>";
      result_log = result_log + "相手の手 " + judge.oppHand + "<br>";
      result_log = result_log + judge.result + "<br>";
      document.getElementById("result_msg").innerHTML = result_log;
    }
  </script>
  <h1>Janken GAME!</h1>
  <p th:if="${userName}">
    hi [[${userName}]]
  </p>
  <p>
  <div>
    <a href="/janken/1">グー</a><br>
    <a href="/janken/2">チョキ</a><br>
    <a href="/janken/3">パー</a><br>
  </div>
  </p>
  <div th:if="${judge}">
    <span id="result_msg">
      結果=[[${result_log}]]
    </span>

  </div>
</body>

</html>
