<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken main</title>
</head>

<body>

  <h1>Janken GAME!</h1>
  <div th:if="${loginUser}">
    hi [[${loginUser}]]
  </div>

  <h2>lec04</h2>
  <h3>エントリー</h3>
  <li th:each="user : ${users1}">
    <a th:href="@{/match(id=${user.id})}"> [[${user.userName}]]</a>
  </li>

  <h3>試合結果</h3>
  <p th:if="${matchResults}">
  <div th:each="result,stat:${matchResults}">
    <tr>id:[[${result.id}]] user1:[[${result.user1}]] user2:[[${result.user2}]] user1Hand:[[${user1Hand}]]
      user2Hand:[[${result.user2Hand}]] </tr>
  </div>
  </p>
  <h3>アクティブな試合</h3>
  <p th:if="${activeMatches}">
  <div th:each="active,stat:${activeMatches}">
    <tr>id:[[${active.id}]] user1:[[${active.user1}]] user2:[[${active.user2}]] isActive:[[${active.isActive}]] </tr>
  </div>

  <p>
  <div><a href="/logout">ログアウト</a></div>
  </p>
</body>

</html>
